.hide {
  display: none;
}

.red {
  color: red;
}

/* TABLE  */

.board {
  position: relative;
  width: 50%;
  height: 500px;
  margin: 0 auto;
}

.cell {
  position: relative;
  width: 224px;
  height: 168px;
}

.fas, .far {
  margin: 10% 0;
}
